<!DOCTYPE html>
<html>
  <head>
    <title>HogwartsSchool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>WELCOME TO HOGWARTS</h1>
      <nav>
        <ul>
          <li><%= link_to "Home", root_path%></li>
          <li><%= link_to "Teachers", teachers_path%></li>
          <li><%= link_to "Students", students_path%></li>
        </ul>
      </nav>
    </header>



    <%= yield %>

    <footer>Copywrong 2020</footer>
  </body>
</html>
